%btn {
  background-color: black;
  padding: 10px;
  border: none;
  outline: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}

%input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
  background-color: #d7d7d7;
  padding: 10px;
  width: 215px;
  border: none;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}
