:root {
  --font-family: "Montserrat Alternates", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Sacramento", sans-serif;
  --text-color: #000000;
  --main-bg-color: #FFFFFF;
}

