@import './utills/variables';
@import './common/reset';
@import './common/base';
@import './utills/placeholders';
@import './components/container';
@import './components/header';
@import './components/card';
@import './components/footer';