:root {
  --font-family: "Montserrat Alternates", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Sacramento", sans-serif;
  --text-color: #000000;
  --main-bg-color: #FFFFFF;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

main {
  padding: 36px 0;
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  gap: 36px;
}

.main-title::after {
  content: "";
  display: block;
  background-color: var(--text-color);
  height: 1px;
  width: 536px;
}

.card-btn {
  background-color: black;
  padding: 10px;
  border: none;
  outline: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}

.card-input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
  background-color: #d7d7d7;
  padding: 10px;
  width: 215px;
  border: none;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}

.container {
  width: 1120px;
  padding: 0 15px;
  margin: auto;
  outline: solid 2px rgb(255, 0, 230);
}

.header {
  padding: 21px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-right: 80px;
}

.header .header-list {
  display: flex;
  gap: 50px;
}

.welcome {
  margin-left: auto;
  display: flex;
  gap: 51px;
}

.img-white-theme.hidden, .hidden.img-black-theme {
  opacity: 0;
  width: 1px;
}

.card {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 36px;
}

.card::after {
  content: "";
  display: block;
  background-color: var(--text-color);
  height: 1px;
  width: 536px;
  margin-top: 36px;
}

.card-form {
  display: flex;
  width: 215px;
  height: 35px;
}

.guess-number-card-form {
  width: 150px;
}

.guess-number-input {
  width: 95px;
}

.card-input:placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.card-wrapper-biggest-number {
  margin-bottom: 54px;
}
.card-wrapper-biggest-number input {
  width: 135px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-text {
  font-size: 12px;
}

.rock-paper-scissors-img {
  background-color: black;
  padding: 10px;
  border-radius: 20%;
}

.rock-paper-scissors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

.rock-paper-scissors-text {
  margin-top: 42px;
  margin-bottom: 36px;
}

.rock-paper-scissors-score {
  margin-left: 108px;
  width: 124px;
}

.rock-paper-scissors-button {
  background-color: var(--text-color);
  color: var(--main-bg-color);
  border-radius: 20px;
  padding: 10px 20px;
}

.football-text {
  margin-bottom: 36px;
}

#field {
  width: 720px;
  height: 220px;
  border: 2px solid black;
  border-radius: 37px;
  background-color: #5abb58;
  position: relative;
  cursor: pointer;
}

#ball {
  position: absolute;
  left: 100px;
  top: 80px;
  width: 50px;
  height: 50px;
  transition: all 1s;
}

.calculator-text {
  font-size: 12px;
  color: #7e7e7e;
  background-color: #d7d7d7;
  text-align: center;
  padding: 10px;
  width: 118px;
  border: none;
  border-radius: 20px;
}

.calculator-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

.calculator-card .card-input {
  border-radius: 20px;
  width: 135px;
  text-align: center;
  border-radius: 20px;
}

.operations-list {
  display: flex;
}

.calculator-btn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  border-radius: 20px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  gap: 10px;
  background: var(--text-color);
  color: var(--main-bg-color);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}

.time-calculator {
  width: 400px;
}

.time-calculator .card-form {
  width: 150px;
}

.footer {
  padding: 60px 0;
}/*# sourceMappingURL=main.css.map */