.card{
    padding: 36px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title{
font-weight: 400;
font-size: 16px;
text-align: center;
margin-bottom: 36px;
}


.card::after{
    content: '';
    display: block;
    background-color: var(--text-color);
height: 1px;
width: 536px;
}