.card {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 36px;
}

.card::after {
  content: "";
  display: block;
  background-color: var(--text-color);
  height: 1px;
  width: 536px;
  margin-top: 36px;
}

.card-btn {
  @extend %btn;
}

.card-form {
  display: flex;
  width: 215px;
  height: 35px;
}

.guess-number-card-form {
  width: 150px;
}

.card-input {
  @extend %input;
}

.guess-number-input {
  width: 95px;
}

.card-input:placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.card-wrapper-biggest-number {
  input {
    width: 135px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  margin-bottom: 54px;
}

.card-text {
  font-size: 12px;
}

.rock-paper-scissors-img {
  background-color: black;
  padding: 10px;
  border-radius: 20%;
}

.rock-paper-scissors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

.rock-paper-scissors-text {
  margin-top: 42px;
  margin-bottom: 36px;
}

.rock-paper-scissors-score {
  margin-left: 108px;
  width: 124px;
}

.rock-paper-scissors-button {
  background-color: var(--text-color);
  color: var(--main-bg-color);
  border-radius: 20px;
  padding: 10px 20px;
}

.football-text{
  margin-bottom: 36px;
}

#field {
  width: 720px;
  height: 220px;
  border: 2px solid black;
  border-radius: 37px;
  background-color: #5abb58;
  position: relative;
  cursor: pointer;
}

#ball {
  position: absolute;
  left: 100px;
  top: 80px;
  width: 50px;
  height: 50px;
  transition: all 1s;
}

.calculator-text{
  font-size: 12px;
  color: #7e7e7e;
  background-color: #d7d7d7;
  text-align: center;
  padding: 10px;
  width: 118px;
  border: none;
  border-radius: 20px;
}

.calculator-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

.calculator-card .card-input{
  border-radius: 20px;
  width: 135px;
  text-align: center;
border-radius: 20px;
}

.operations-list{
  display: flex;
}

.calculator-btn{
  width: 25px;
height: 25px;
display: flex;
align-items: center;
justify-content: center;
opacity: 1;
border-radius: 20px;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
padding-left: 10px;
gap: 10px;
background: var(--text-color);
color: var(--main-bg-color);
box-shadow: 3px 3px 0px 0px #00000040;
}

.time-calculator{
  width: 400px;
}

.time-calculator .card-form{
  width: 150px;
}