.card {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 36px;
}

.card::after {
  content: "";
  display: block;
  background-color: var(--text-color);
  height: 1px;
  width: 536px;
  margin-top: 36px;
}

.card-btn {
  @extend %btn;
}

.card-form {
  display: flex;
  width: 215px;
  height: 35px;
}

.card-input {
  @extend %input;
}

.card-input:placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.card-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 149px;
}

// .card-text
