.card {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 36px;
}

.card::after {
  content: "";
  display: block;
  background-color: var(--text-color);
  height: 1px;
  width: 536px;
  margin-top: 36px;
}

.card-btn {
  @extend %btn;
}

.card-form {
  display: flex;
  width: 215px;
  height: 35px;
}

.guess-number-card-form {
  width: 150px;
}

.card-input {
  @extend %input;
}

.guess-number-input {
  width: 95px;
}

.card-input:placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.card-wrapper-biggest-number {
  input {
    width: 135px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
margin-bottom: 54px;
}

.card-text{
font-size: 12px;
}

.rock-paper-scissors-img{
  background-color: var(--text-color);
  padding: 10px;
  border-radius: 20%;
}

.rock-paper-scissors-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

.rock-paper-scissors-text{
  margin-top: 42px;
  margin-bottom: 36px;
}

.rock-paper-scissors-score{
  margin-left: 108px;
  width: 124px;
}

.rock-paper-scissors-button{
  background-color: var(--text-color);
  color: var(--main-bg-color);
border-radius: 20px;
padding: 10px 20px;
}

