.header .container{
    padding: 21px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .list{
    display: flex;
    gap: 50px;
    margin-right: 210px;
}

.welcome{
    display: flex;
    gap: 51px;
}