.header{
    padding: 21px 0;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    margin-right: 80px;
}

.header .header-list{
    display: flex;
    gap: 50px;
}

.welcome{
    margin-left: auto;
    display: flex;
    gap: 51px;
}

.img-white-theme.hidden, .hidden.img-black-theme{
    opacity: 0;
    width: 1px;
}