body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.333);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  padding: 30px;
  border-radius: 20px;
  max-width: 640px;
  width: 100%;
  min-height: 320px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 2px 1px 1px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.close-img{
    position: absolute;
    top: 25px;
    left: 660px;
}

.modal .card-title{
    margin: 0;
    margin-top: 83px;
    font-family: Inter;
    font-size: 30px;
}

.modal .sword{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 500px;
}
.modal .game-development{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 95px;
    left: 560px;
}

.modal .tic-tac-toe{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 160px;
}

.modal .puzzle{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 95px;
    left: 60px;
}